<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)"><i class="fa fa-bars"></i> </a>
</div>
</nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{pageHeading |uppercase}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>{{secondPart}}</a>
            </li>
            <li class="active">
                {{breadCrumb | lowercase}}
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<ng-content></ng-content>