<app-content>
    <!-- Navigation -->
    <app-sidebar></app-sidebar>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <app-header></app-header>
        <!-- Main view  -->
        <div class="wrapper wrapper-content">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="input-group">
                            <input type="text" class="form-control" name="Number" value={{stepUrl}} placeholder="URL" required="">
                            <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading" *ngIf="pageTracked">
                        <h3>Stock price up
                            <div class="stat-percent text-navy">34% <i class="fa fa-level-up"></i></div>
                        </h3>
                        <small><i class="fa fa-stack-exchange"></i> New economic data from the previous quarter.</small>

                    </div>

                    <div class="ibox-content">
                        <pre><code>{{dataLayer}}</code></pre>
                    </div>
                    <div class="ibox-footer">
                        <div class="ibox-tools">
                             <a [routerLink]="['/datalayer/oneclick/usecase', 'pub', previousStepRoute]" class="btn btn-primary btn-sm pull-left"> <i class="fa fa-chevron-left"></i> {{previousStepRoute}}</a>
                             <a [routerLink]="['/datalayer/oneclick/usecase', 'pub', nextStepRoute]" class="btn btn-primary btn-sm"> <i class="fa fa-chevron-right"></i> {{nextStepRoute}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-content">

                        <p class="font-bold">
                            JOURNEY
                        </p>

                        <hr/>
                        <div>
                                <h2 class="font-bold"> PUBLIC </h2>
                        </div>
                        <hr/>
                        <div class="client-detail">
                               <div class="full-height-scroll">

                                    <strong>Primary-Product</strong>
                                    <ul class="list-group clear-list">
                                        <li class="list-group-item">
                                            <span class="pull-right"> Consumer-Deposits</span>
                                            Product-Portfolio
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> Transaction-Account</span>
                                            Product-Family
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> Choice</span>
                                            Product-Name
                                        </li>
                                    </ul>
                                    <strong>CrossSell-Product</strong>
                                    <ul class="list-group clear-list">
                                        <li class="list-group-item">
                                            <span class="pull-right"> Consumer-Deposits</span>
                                            Product-Portfolio
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> Savings-Account</span>
                                            Product-Family
                                        </li>
                                        <li class="list-group-item">
                                            <span class="pull-right"> eSaver</span>
                                            Product-Name
                                        </li>
                                    </ul>
                                        <strong>Notes</strong>
                                        <p>
                                            Visits the product page on Public site<br>
                                            clicks on apply now for "westpac choice"<br>
                                            Lands on Oneclick "welcome page"<br>
                                            Registred for online banking? NO<br>
                                            In next step Opts adds "westpac eSaver as a additional product.
                                        </p>
                                        <hr/>
                               </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
                </div>
            <!-- Footer -->
            <app-footer></app-footer>
        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
</app-content>