<app-content>
    <!-- Navigation -->
    <app-sidebar></app-sidebar>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <app-header></app-header>
        <!-- Main view  -->
        <div class="wrapper wrapper-content">
                     <div class="faq-item">

                            <div class="row">
                                <div class="col-md-7">
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1" value="wbc" name="radioInline" checked="">
                                            <label for="inlineRadio1">WBC</label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2" value="stg" name="radioInline">
                                            <label for="inlineRadio2">STG</label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2" value="stg" name="radioInline">
                                            <label for="inlineRadio2">BOM</label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2" value="stg" name="radioInline">
                                            <label for="inlineRadio2">BSA</label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2" value="stg" name="radioInline">
                                            <label for="inlineRadio2">BT</label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2" value="stg" name="radioInline">
                                            <label for="inlineRadio2">RAMS</label>
                                        </div>
                                  </div>
                                <div class="col-md-3">
                                    <span class="small font-bold">Robert Nowak</span>
                                    <div class="tag-list">
                                        <span class="tag-item">General</span>
                                        <span class="tag-item">License</span>
                                    </div>
                                </div>
                                <div class="col-md-2 text-right">
                                    <span class="small font-bold">Voting </span><br/>
                                    42
                                </div>
                            </div>
         </div>
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="input-group">
                            <input type="text" class="form-control" name="Number" value="https://www.westpac.com.au/faq/activate-my-card/" placeholder="URL" required="">
                            <span class="input-group-addon"><i class="fa fa-link fa-fw"></i></span>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading" *ngIf="pageTracked">
                        <h3>Stock price up
                            <div class="stat-percent text-navy">34% <i class="fa fa-level-up"></i></div>
                        </h3>
                        <small><i class="fa fa-stack-exchange"></i> New economic data from the previous quarter.</small>

                    </div>

                    <div class="ibox-content">
                            <textarea   id="code2" class="form-control" style="height: 600px">{{dataLayer}}
                            </textarea>  
                    </div>
                    <div class="ibox-footer">
                        <div class="ibox-tools">
                             <a href="javascript:void(0)" class="btn btn-sm btn-success" (click)="nextStep()"> next step </a>
                             
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-content">

                        <p class="font-bold">
                            Other products you may be interested
                        </p>

                        <hr/>
                        <div>
                            <a href="#" class="product-name"> Product 1</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <a href="#" class="product-name"> Product 2</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            <ul class="category-list" style="padding: 0">
                                <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                            </ul>

                            </div>
                            <div class="m-t text-right">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="hr-line-solid"></div>
    <div class="m-b-lg">
<div class="m-t-md">

                                    <div class="pull-right">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
                                    </div>

                                    <strong>Found 61 issues.</strong>



                                </div>
    </div>
            <div class="row">
                <div class="alert alert-warning">
                                Full documentation for Summernote.js, including examples and API calls, keybored shortcuts, PHP Examples, Django installation, and Rails (gem) integration can be found at:
                                <a href="http://hackerwins.github.io/summernote/features.html#api">http://hackerwins.github.io/summernote/features.html#api</a>
                                <!--<div class="summernote">summernote 2</div>-->

                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content">
                            <table class="table table-responsive table-striped">
                                <thead>
                                <tr>
                                    <th>Brand(v6)</th>
                                    <th>Site(v1)</th>
                                    <th>SiteSection(v2)</th>
                                    <th>SubSection(v3)</th>
                                    <th>SiteSubSection(v4)</th>
                                    <th>SiteSubSubSection(v5)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>wbc</td>
                                    <td>wbc:www</td>
                                    <td>wbc:www:application</td>
                                    <td>wbc:www:application:esave</td>
                                    <td>wbc:www:application:esaver:thank you</td>
                                    <td>D=pageName</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

                </div>


            <!-- Footer -->
            <app-footer></app-footer>
        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
</app-content>
    <router-outlet></router-outlet>