<app-content>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Income</h5>
                    <h1 class="no-margins">Datalayer</h1>
                    <small>Data layer related apps</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Income last month</h5>
                    <h1 class="no-margins">kodeGen</h1>
                    <small>Total income</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Income last day</h5>
                    <h1 class="no-margins">kBase</h1>
                    <div class="stat-percent font-bold text-danger">12% <i class="fa fa-level-down"></i></div>
                    <small>Analytics knowledgebase</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Income all</h5>
                    <h1 class="no-margins">54,200</h1>
                    <div class="stat-percent font-bold text-danger">24% <i class="fa fa-level-down"></i></div>
                    <small>Total income</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>All new alerts</h5>
                    <table class="table table-stripped small m-t-md">
                        <tbody>
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-circle text-navy"></i>
                                </td>
                                <td class="no-borders">
                                    Example element 1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-navy"></i>
                                </td>
                                <td>
                                    Example element 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-navy"></i>
                                </td>
                                <td>
                                    Example element 3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Alerts</h5>
                    <table class="table table-stripped small m-t-md">
                        <tbody>
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-circle text-navy"></i>
                                </td>
                                <td class="no-borders">
                                    Example element 1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-navy"></i>
                                </td>
                                <td>
                                    Example element 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-navy"></i>
                                </td>
                                <td>
                                    Example element 3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>All messages</h5>
                    <table class="table table-stripped small m-t-md">
                        <tbody>
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-circle text-danger"></i>
                                </td>
                                <td class="no-borders">
                                    Example element 1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-danger"></i>
                                </td>
                                <td>
                                    Example element 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-danger"></i>
                                </td>
                                <td>
                                    Example element 3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>Last notification</h5>
                    <table class="table table-stripped small m-t-md">
                        <tbody>
                            <tr>
                                <td class="no-borders">
                                    <i class="fa fa-circle text-danger"></i>
                                </td>
                                <td class="no-borders">
                                    Example element 1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-danger"></i>
                                </td>
                                <td>
                                    Example element 2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-circle text-danger"></i>
                                </td>
                                <td>
                                    Example element 3
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>
                        <h2>Clients</h2>
                        <p>
                            All clients need to be verified before you can send email and set a project.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Issue list</h5>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3>Stock price up
                            <div class="stat-percent text-navy">34% <i class="fa fa-level-up"></i></div>
                        </h3>
                        <small><i class="fa fa-stack-exchange"></i> New economic data from the previous quarter.</small>

                    </div>

                    <div class="ibox-content">
                        <pre><code>{{dataLayer}}</code></pre>
                    </div>
                    <div class="ibox-footer">
                        <div class="ibox-tools">
                            <a href="" class="btn btn-primary btn-xs">TrackPage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</app-content>