<app-content>
    <!-- Navigation -->
    <app-sidebar></app-sidebar>
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <app-header></app-header>
            <!-- Main view  -->
            <div class="wrapper wrapper-content">
                <div class="row" site-wrapper>
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>Income</h5>
                                    <h1 class="no-margins">Datalayer</h1>
                                    <small>Data layer knowledgebase</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>Income last month</h5>
                                    <h1 class="no-margins">Analytics</h1>
                                    <small>Adobe Analytics knowledgebase</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>Income last day</h5>
                                    <h1 class="no-margins">DTM</h1>
                                    <small>Adobe DTM knowledgebase</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h5>Income all</h5>
                                    <h1 class="no-margins">54,200</h1>
                                    <small>Total income</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <app-footer></app-footer>
        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
</app-content>